ul.breadcrumb {
  padding: 10px 16px;
  list-style: none;
  box-shadow: 0px 2px 4px 0px rgba(0,0,0,0.1);
}

/* Display list items side by side */
ul.breadcrumb li {
  display: inline;
  font-size: 18px;
}

/* Add a color to all links inside the list */
ul.breadcrumb li a {
  color: var(--color-light-grey);
  text-decoration: none;
}

ul.breadcrumb li:last-child  a{
  color: var(--color-dark-grey);
  text-decoration: none;
}
/* Add a color on mouse-over */
ul.breadcrumb li a:hover {
  color: var(--color-dark-grey);
  text-decoration: none;
}
