.move-page {
  text-decoration: none;
  display: inline-block;
  color: var(--color-light-grey);
}

.move-page:hover {
  color: var(--color-dark-grey);
  transition: .3s ease;
}

.page-nav {
  display:block;
  text-align: center;
}
