hr {
  border-top: 2px solid var(--color-light-grey);
}

.product-content {
  text-decoration: none;
  color: var(--color-dark-grey);
}

.a-tag:hover {
  transition: .3s ease;
  box-shadow:  3px 3px 5px  rgba(0, 0, 0, 0.3);
}
