/* Links inside the navbar */
.navbar a {
  font-size: 16px;
  color: var(--color-dark-grey);
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

/* The dropdown container */
.nav {
  display: none;
  padding-right: 3em;

}

.cart {
  position: absolute;
  right: 20px;
  top: 10px;
  z-index: 1000;
}

#nav-check:checked ~ .grid .nav {
  display:block;
}

/* Add a blue background color to navbar links on hover */
.navbar a:hover, .dropdown:hover .dropbtn {
  color: var(--color-primary);
  transition: .3s ease;
}

.cart{
  float: right;
}

.logo {
  float: none;
}

.hamburger {
  float: left;
  display: inline-block;
  cursor: pointer;
}

.bar1, .bar2, .bar3 {
  width: 35px;
  height: 5px;
  background-color: #333;
  margin: 6px 0;
  transition: 0.4s;
}

/* Rotate first bar */
.change .bar1 {
    -webkit-transform: rotate(-45deg) translate(-9px, 6px) ;
    transform: rotate(-45deg) translate(-9px, 6px) ;
}

/* Fade out the second bar */
.change .bar2 {
    opacity: 0;
}

/* Rotate last bar */
.change .bar3 {
    -webkit-transform: rotate(45deg) translate(-8px, -8px) ;
    transform: rotate(45deg) translate(-8px, -8px) ;
}

@media only screen and (min-width: 36em) {

  .hamburger {
    display: none;
  }

  /* Navbar container */
  .navbar {
    overflow: hidden;
    text-align: left;
  }

.nav {
  display: block;
}

  /* cart hover */
  .icon:hover {
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.1);
    transition: .3s ease;
  }

  /* Links inside the navbar */
  .navbar a {
    float: right;
    font-size: 16px;
    color: var(--color-dark-grey);
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }

  /* Add a red background color to navbar links on hover */
  .navbar a:hover, .dropdown:hover .dropbtn {
    color: var(--color-primary);
  }

  .cart{
    float: right;
  }

  .logo {
    float: left;
  }

}
