.btn-dark-grey {
  background-color: var(--color-dark-grey);
  border-color: var(--color-dark-grey);
  color: #fff;
}

.btn:hover {
  background-color: var(--color-light-grey);
  border-color: var(--color-light-grey);
}

label {
  color: var(--color-dark-grey);
}

input {
  border-radius: 3px;
  border: solid 2px var(--color-dark-grey);
}
