h3 {
  color: var(--color-primary);
}

.btn-dark-grey {
  background-color: var(--color-dark-grey);
  border-color: var(--color-dark-grey);
  color: #fff;
}

.btn:hover {
  background-color: var(--color-light-grey);
  border-color: var(--color-light-grey);
}
