:root {
  --color-primary: #20c0d6;
  --color-primary-light: #63cedd;
  --color-secondary: #ed5764;
  --color-dark-grey: #292929;
  --color-light-grey: #d2d2d2;
  --color-accent: #ed5764;
  --font-primary: "OpenSans", sans-serif;
  --font-secondary: "Montserrat", sans-serif;
}

html {
  font-family: var(--font-primary);
}

a {
  text-decoration: none;
  list-style-type: none;
  color: #fff;
}

mark {
  background-color: var(--color-accent);
}
